@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="" method="post" style="visibility:hidden">
    <input type="text" name="ds_" id="ds_"/>
    <input type="submit" id="submit"/>
</form>

<button class="btn btn-primary" onclick="run()">Run</button>
<script src="~/js/import_excel.js"></script>
<script src="~/js/function.js"></script>